@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
html {
  scroll-behavior: smooth;
}
strong {
  font-weight: bold;
  text-decoration: underline;
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;

  background-image: url("manhattanbridge.jpg");
  background-repeat: no-repeat;
  background-size: contain;

  display: flex;
  align-content: stretch;
  transition: 1s;
}

body.dark-mode {
  background-image: url("manhattanbridgedark.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: 1s;
  color: white;
  background-color: rgb(1, 1, 23);
}

.website {
  flex-grow: 2;
  height: 100%;
  width: 100vh;
  display: flex;
  align-items: center;

  flex-direction: column;
}
button {
  background-color: black;
}
.opening-page {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  text-shadow: rgb(10, 10, 9) 2px 0 1px;
  transition: 1s;
  width: 100vh;
}

nav {
  color: white;
  position: sticky;
  top: 0;
  margin: 0;
  align-self: flex-start;
  transition: 1.4s;
  padding-left: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.nav-scrolled {
  color: white;
  background-color: rgb(1, 1, 23);
  transition: 1.4s;
}

ul {
  list-style-type: none;
}

.profile-pic {
  border-radius: 80px;
  margin: 10px;
  border: 10px solid black;
  margin-left: -10px;
}

h1 {
  margin: 0;
}
h4 {
  margin: 0;
}

#title {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 40%;
  left: 35%;
  font-size: 25px;
  width: 400px;
}

#about-me-text-and-pic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  flex-wrap: wrap;
  margin: 50px;
}

#about-me-text {
  margin-right: 50px;
  width: 45%;
}

.icon {
  width: 30px;
  height: 30px;
  padding-right: 10px;
}

.nav-links {
  width: 120px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
}
.nav-links:hover {
  background-color: white;
  color: black;
  transition: 0.2s;
}

a {
  color: inherit;
  text-decoration: none;
}

#dark-mode-button {
  height: 60px;
  width: 60px;
  position: absolute;

  top: 0;
  right: 0;
  border-radius: 30%;
  margin-top: 20px;
  margin-right: 20px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

#dark-mode-button:hover {
  background-color: rgb(1, 1, 28);
}

#dark-mode-icon {
  height: 40px;
  width: 40px;
}

#beach-pic {
  width: 400px;
  height: 500px;
  border-radius: 30px;
  margin-right: 20px;
  margin-top: 20px;
}

#about-me-section {
}

#about-me-text {
}

li {
  padding-top: 5px;
}

.project-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carousel {
  position: relative;
  height: 100vh;
  width: 90%;
}

.carousel-image {
  width: 100%;
  border-radius: 20px;
}

.carousel_track-container {
  overflow: hidden;
  height: 80%;
  width: 100%;
  position: relative;
  border-radius: 10px;
  box-shadow: rgb(1, 1, 28);
  animation: fadeIn 10s;
}

.carousel_track {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  position: relative;
  height: 100%;
  transition: transform 0.5s ease-in;
}

.carousel_slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel_button {
  border: none;
  background: none;
  position: absolute;
  top: 37%;
  transform: translateY(-50%);
}

.carousel_button--left {
  border: none;
  background: none;
  left: -40px;
}
.carousel_button--right {
  right: -40px;
}
.carousel_button img {
  width: 20px;
  background-color: white;
  border-radius: 50%;
}

.carousel_nav {
  display: flex;
  justify-content: center;
  padding: 18px 0;
}

.carousel_indicator {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: grey;
  cursor: pointer;
  margin-left: 2px;
  margin-right: 2px;
}

.carousel_indicator.current-slide {
  background: rgba(0, 0, 0, 0.75);
}

.is-hidden {
  display: none;
}

.project-selector {
  color: black;
  font-size: 15px;
  background-color: white;
  margin-left: 0;
  margin-right: 0;
  border: 1px solid black;
  width: 200px;
  height: 50px;
  border-radius: 5px;

  transition-duration: 0.7s;
}

.project-selector:hover {
  color: white;
  background-color: black;
}

#message-box {
  height: 400px;
  width: 1000px;
}

.container {
  width: 90%;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 100px;

  border: 1px solid grey;
  border-radius: 7px;
}
.form-row {
  display: flex;
  flex-direction: column;
}
.form-group {
  margin: 10px;
}

textarea {
  width: 400px;
  height: 200px;
  border-radius: 5px;
}

input {
  border-radius: 5px;
}

#contact-me {
  transform: translateY(50%);
  margin-bottom: 30px;
}

#send-message-button {
  background-color: white;
  border: solid black 1px;
  transform: translateX(50%);
  border-radius: 5px;
  margin-bottom: 5px;
  text-decoration: none;
}

.skill-boxes {
  display: flex;
}

.contact-me-icons {
  width: 40px;
  height: 40px;
}
#project-title {
  margin-bottom: 20px;
}
#project-description {
  padding-left: 75px;
  padding-right: 75px;
  margin-left: 40px;
}

.slide-in {
  transform: translateX(100%);
  animation: slide-in 1s forwards;
}
@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

#github-link {
  background-color: white;
  border-radius: 50%;
}

.blog-section {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid gray 1px;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.blog-image {
  height: 450px;
}

.blog-post {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 800px) {
  * {
  }

  body {
    background-image: none;
    width: 100%;
    padding-left: 30px;
  }

  nav {
    display: none;
  }

  /* #title {
    position: relative;
    top: 0;

    width: 200px;
    font-size: 14px;
  } */

  .website {
    width: 100%;
  }

  #about-me-section {
    width: 100%;
  }
  #project-section {
    width: 100%;
  }

  .carousel {
    /* width: 100%; */
    height: 100vh;
  }
  .carousel-slide {
    margin-left: 0px;
    margin-right: 0px;
  }
  beach-pic {
    width: 100%;
    margin: 0px;
  }
  #about-me-text-and-pic {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    font-size: 14px;

    margin: 0px;
  }
  #beach-pic {
    display: none;
  }
  #about-me_text {
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }

  .opening-page {
    background-image: url("IMG_4146.JPG");
    width: 100%;
    max-width: 100%;

    background-size: contain;
    background-position: center;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .project-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #project-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #project-description {
    padding: 10px;
    margin: 0px;
    font-size: 14px;
  }
  .carousel_track-container {
    height: 250px;
  }
  .carousel_nav {
    justify-content: space-around;
  }
  .carousel_indicator {
    width: 25px;
    height: 25px;
  }

  .project-section {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .carousel {
    height: 100px;
  }
  .website {
    height: 100%;
    width: 100%;
  }

  .container {
    margin-top: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .carousel_button {
    display: none;
  }
  textarea {
    width: 300px;
  }
  #title {
    display: flex;
    flex-direction: column;
    position: none;
    align-items: flex-start;

    font-size: 16px;
    flex-shrink: 0;
    width: 300px;
    top: 0%;
    left: 10px;
  }
  #send-message-button {
    background-color: white;
    color: black;
  }
  #dev-blog {
    margin-top: 500px;
  }
  iframe {
    max-width: 90%;
  }
  img {
    max-width: 90%;
  }
  .blog-post {
    max-width: 90%;
    padding-left: 20px;
  }
  /* makes the header of the blog post more center CHANGE THIS LATER */
  h3 {
    margin-left: 20px;
  }
}
